* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
  } */

.container {
  text-align: center;
  /* height: 100vh; */
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}

.header img {
  width: 283px;
  cursor: pointer;
}

.authlinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 500px; */
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  /* text-align: left; */
}

.registerlink {
  margin-right: 70px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
}

.registerlink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px; /* Adjust the thickness of the underline */
  bottom: -2px; /* Position the underline */
  left: 0;
  background-color: rgb(9, 155, 240);
  transition: width 0.3s ease-in-out; /* Animation for underline */
}

.registerlink:hover::after {
  width: 100%; /* Full width of the link on hover */
}

.loginbtn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
}

.lap img {
  width: 100%;
  height: 85vh;
}

.info h1 {
  width: 70%;
  height: 113px;
  top: 200px;
  left: 50px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 96px;
  font-style: italic;
  font-weight: 800;
  line-height: 112.5px;
  text-align: left;
  position: absolute;
}
.info h2 {
  width: 50%;

  height: 113px;
  top: 346px;
  left: 350px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 96px;
  font-style: italic;
  font-weight: 800;
  line-height: 112.5px;
  text-align: left;
  position: absolute;
}
