.employeeSidebar {
    background-color: #ffffff;
    width: 230px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 5px 5px 3px rgba(117, 115, 115, 0.588);
  }
  
  .heading{
      margin-top: 50px;
      background-color: #252424;
      color: #ffffff;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.625);
  }
  
  .links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .links ul li {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0;
  }
  