.AdminDashboard {
  background-color: #e9eff5;
  /* height: 100vh; */
  display: flex;
  gap: 20px;
}

.AdminDashboard .sidebar {
  padding-top: 20px;
  padding-left: 10px;
}

.dashboardBoxes {
  height: 200px;
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 0 20px;
}

.box {
  width: 250px;
  height: 150px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 1px 6px rgb(162, 158, 158);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10px;
}

.box h3 {
  padding: 0 10px;
  font-size: 25px;
}

.empcount img {
  width: 40px;
  height: 35px;
  color: blue;
}

.empcount {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.empcount span {
  font-size: 40px;
  font-weight: 500;
}

.adminTable {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  width: 80vw;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tableControls {
  display: flex;
  gap: 10px;
}

.searchInput {
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.dateButton,
.viewButton {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.dateButton {
  background-color: #f3f4f6;
  color: #4b5563;
}

.viewButton {
  background-color: #3b82f6;
  color: white;
}

.attendanceTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  box-shadow: 2px 2px 10px black;
}

.attendanceTable th,
.attendanceTable td {
  padding: 12px ;
  text-align: left;
  font-weight: 600;
}

.attendanceTable th {
  color: #6b7280;
  font-weight: 800;
  font-size: 25px;
  color: #001d3d;
}

.status {
  padding: 4px 8px;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
}

.Workfromoffice {
  background-color: #dbeafe;
  color: #1e40af;
}

.Absent {
  background-color: #fee2e2;
  color: #b91c1c;
}

.Latearrival {
  background-color: #fef3c7;
  color: #92400e;
}

.Workfromhome {
  background-color: #f3f4f6;
  color: #4b5563;
}

.pagination {
  margin-top: 20px;
  text-align: left;
  color: #6b7280;
  font-size: 0.875rem;
}

.active {
  background-color: #d1fae5;
  color: #065f46;
}

.deactive {
  background-color: #fee2e2;
  color: #991b1b;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}