
/* Register container and form styles */
.registercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
}

.registerform {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 95vh;
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

.registerform h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.registerform p {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.registerform a {
  text-align: center;
  color: #666;
}

.registerform input,
.registerform select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s;
}

.registerform button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registerform button:hover {
  background-color: #333;
}

.registerform a {
  color: #007bff;
  text-decoration: none;
}

.registerform a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  gap: 2rem;
}

/* Password visibility toggle styles */
.passwordcontainer {
  position: relative;
  width: 100%;
}

.passwordcontainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.togglepassword {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.togglepassword svg {
  color: #080808;
  height: 50px;
}

.registerform input:focus {
  border-color: #007bff; /* Focus effect for input fields */
}

/* Error state for password fields */
input.error {
  border: 2px solid red;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 0.85em;
  margin-top: -10px; /* Move the message closer to the input */
  margin-bottom: 10px;
}

/* For password validation display */
.password-group {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Add some spacing between the two fields */
}

.password-group input {
  width: calc(50% - 10px); /* Ensure both password fields are equal in width */
}
